<div class="jumbotron center">
  <h2>Welcome to my app!</h2>
  <p>
    <%= link_to "Log in", "#", class: "btn btn-default btn-lg" %>
    <%= link_to "Sign up", "#", class: "btn btn-lg btn-primary" %>
  </p>
</div>